body {
  background-color: rgb(15, 8, 8);
  color: white;
  font-family: lato, sans-serif;
}
input {
  height: 37px;
  margin-left: 20%;
  width: 517px;
  margin-top: 3%;
}
#show {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-gap: 4%;
  width: 80%;
}
.cont {
  display: flex;
}
.template {
  width: 20%;

  line-height: 4;
  text-align: center;
}
.main {
  display: flex;
}
.img_part {
  width: 33%;
}
button {
  height: 28px;
  margin-top: 4%;
  background-color: rgb(15, 8, 8);
  border: none;
  margin-left: 16px;
}
.media {
  display: flex;
  width: 94%;
  padding-bottom: 2%;
}
